# Core DL libraries
torch==2.8.0         # Adapt CUDA version if needed
torchvision==0.18.0+cu121
torchaudio==2.3.0+cu121

tensorflow==2.15.0
tensorflow-lite==2.15.0

# Utilities
numpy
pandas
matplotlib
scikit-learn
ipykernel
jupyterlab
python-dotenv

# GPU tools & loggers
tensorboard
protobuf>=3.20.3