ipykernel~=6.29
jupyterlab~=4.4
numpy~=2.3
pandas~=2.2
streamlit~=1.47
bcrypt~=4.3
psycopg2-binary~=2.9
sqlalchemy~=2.0
python-dotenv~=1.1
cloudinary~=1.44
fastapi~=0.116
torch~=2.5
torchvision ~=0.20
apscheduler~=3.10
matplotlib~=3.10